<link rel='stylesheet' href='/about.css'/>
<h1>About</h1>
<section class="sec1">
    <img src="https://m.media-amazon.com/images/I/61r2GcNqq-L._AC_SY355_.jpg" alt="Mark Rober Img">
    <h1>Mark Rober</h1>
</section>
<section>
    <h2>Career</h2>
    <ul>
        <li>
            Graduated from Brigham Young University with a degree in mechanical engineering
        </li>
        <li>
            Graduated from University of Southern California with his masters degree
        </li>
        <li>
            <a href="https://mars.nasa.gov/msl/home/">Worked at Nasa helping with the constructions of the Curiosity Rover</a>
        </li>
        <li>
            <a href="https://www.youtube.com/c/MarkRober/">Currently works in content creation focusing on his Youtube channel</a>
        </li>
        <li>
            <a href="https://www.crunchlabs.com/products/build-box-subscription/">Launched a kit to teach childrent the basics of engineering</a>
        </li>
    </ul>
</section>