<link rel='stylesheet' href='/works.css'/>
<h1>Works</h1>
<div>
    <h2>Charity</h2>
    <li>
        <p>
            Mark has a son who has autism which he recently reveal in one of his Youtube 
            videos. He waited so long to let us meet his son in order to protect him from
            the critical and mean aspects of the internet. We got to meet his son at the same
            time as he and several other Youtubers worked on a charity campaign called Color
            The Spectrum which supports people in the autistic community.
        </p>
        <ul>
            <li>
                <a href="https://www.youtube.com/watch?v=ybPgmjTRvMo">Meeting his son</a>
                <a href="https://nextforautism.org/get-involved/color-the-spectrum/">Color the spectrum</a>
            </li>
        </ul>
    </li>
    <li>
        <p>
            Team Trees and Team Seas are two charities which Mark and 
            <a href="https://www.youtube.com/@MrBeast"></a> founded together using their platforms
            as well as those of many other youtubers they collabortated with to incite people to
            donate to help the planet. Thanks to their hard work millions of trees were planted and 
            millions of pounds of trash were removed from the oceans.
        </p>
        <ul>
            <li>
                <a href="https://www.youtube.com/watch?v=U7nJBFjKqAY">Planting trees</a>
                <a href="https://teamtrees.org/">Team trees</a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=pXDx6DjNLDU">Cleaning the ocean</a>
                <a href="https://teamseas.org/">Team trees</a>
            </li>
        </ul>
    </li>
</div>
<div>
    <h2>Squirrel Olympics</h2>
    <p>
        While Mark was attempting to feed and watch birds the pesky squirrels would go 
        feast on the seeds inside the bird feaders regardless of the bird feeder and the 
        claims that it was squirrel proof. Up for the challenge he set up a maze for the 
        squirrels to solve if they wanted to reach the bird seeds and nuts. With that our
        competitiors Rick, Marty, Augustine and Phat <i>(Phantastic)</i> Gus bravely attempt
        the course powered by their determination.
    </p>
    <ul>
        <li>
            <a href="https://www.youtube.com/watch?v=hFZFjoX2cGg&t=212s">Squirrel vs. Parkour v.1</a>
        </li>
        <li> 
            <a href="https://www.youtube.com/watch?v=DTvS9lvRxZ8">Squirrel vs. Parkour v.2</a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=lg5wznn3IBE">Squirrel vs. Parkour v.3</a>
        </li>
    </ul>
</div>
<div>
    <h2>Glitter Bomb</h2>
    <p>
        One day while Mark was waiting on his package a poarch pirate decided to steal it, when he
        reported the crime to the police nothing was done. Frustrated he decided to use his arsenal
        of engineering knowledge to get revenge for him and the thousands of people stolen from each
        year by inventing the glitter bomb.
    </p>
    <ul>
        <li>
            <a href="https://www.youtube.com/watch?v=xoxhDk-hwuo">Glitter Bomb v.1</a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=a_TSR_v07m0&t=579s">Glitter Bomb v.2</a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=h4T_LlK1VE4">Glitter Bomb v.3</a>
        </li>
            <li>
            <a href="https://www.youtube.com/watch?v=3c584TGG7jQ">Glitter Bomb v.4</a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=iWeu2dxHRDg">Glitter Bomb v.5</a>
        </li>
        <li>
            <h3>Scammers</h3>
            <p>
                During the adventures with the glitter bombs a package was picked up by a low ranked person
                in the scamming industry. With that he expanded his targets to scammers as well teaming up with
                two other youtubers <a href="https://www.youtube.com/@JimBrowning">Jim Browing</a> and 
                <a href="https://www.youtube.com/@TrilogyMedia">Trilogy Media</a>
            </p>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=VrKW58MS12g">Scammers Discovery</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=xsLJZyih3Ac">Scam Call Centers Attack</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div>
    <h2>Arcade and Festival games</h2>
    <p>
        During these videos Mark shows us how the arcade industry scams the players by
        researching the machines, and trying to beat games with accurate machines.
    </p>
    <ul>
        <li>            
            <a href="https://www.youtube.com/watch?v=vXBfwgwT1nQ">Exposing Scam Arcade Games</a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=Rsxao9ptdmI">Beating Scam Arcade Games</a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=tk_ZlWJ3qJI">Carvial Scam Games</a>
        </li>
    </ul>
</div>
